# remove after dsb-Desktop app is finished
self/

# dont include configs
config.py
configer.py
config.json

# dont include logs & tempfiles
temp.json
__pycache__/
Hypixel/response_firsttime.json
Hypixel/response_firsttime
logs
log

# dont include private scripts
Jugendwort
Private

# dont include passwords or other cred
generated